@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Press+Start+2P&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 98vh; /*fit the viewport height*/
    width: 98vw; /*fit the viewport width*/
    font-family: 'Cormorant SC', serif;
    font-size: 20px;
    background-color: black;
    color: white;
}

.header {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    justify-content: left;
    width: 100%;
    max-height: 100px;
    align-items: center;
    margin: 1em 0 0 3em;
}

#logo {
    width: 200px; /* width of container */
    height: 60px; /* height of container */
    object-fit: cover;
    object-position: -35px -45px; /* try 20px 10px */ 
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    margin: 0;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
}

img {
    max-height: 350px;
    width: auto;
}

.start {
    text-transform: uppercase;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}

.start:hover {
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.btn {
    /*hide default button attributes*/
    appearance: none;
    border: none;
    font-size: 0;
    background-color: black;
}
.btn:hover {
    transform: rotate(2deg) scale(120%);
    cursor: pointer;
}

.btn:active {
    transform: rotate(2deg) scale(95%);
    transition: .4s;
}

.midSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 2;
    gap: 20px;
}

.computer-hands {
    display: none;
    border: 3px solid white;
    padding: 20px;
    margin-right: 15px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.topSection {
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    margin: 0;
    padding: 10px;  
    display: none;
    width: 80%;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}